<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
  <ul>
  <% @user.events.each do |e| %>
    <li><%= e.location %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Back', users_path %>
